$mobile: 992px;
$mobileHeight: 768px;
$desktop: $mobile + 1;
$desktopHeight: $mobileHeight + 1;

@mixin mobile() {
	@media (max-width: $mobile),
	(max-height: $mobileHeight) {
		@content;
	}
}

@mixin desktop() {
	@media (min-width: $desktop) {
		@content;
	}
}

:root {
	--block-height: 100px;
	--block-gap: 10px;
	--block-padding: 16px;
	--block-corner-radius: 8px;
	--hour-scale: 3;
	--hour-duration: 60;
	--time-segments: calc(var(--hour-duration) / var(--hour-scale));
	--one-hour: var(--time-segments); //minutes / hour (60)
	--hour-width: 25vw;
	--preview-height: 50vh;
	--transition-duration: 0.3s;
	--max-container-width: 1170px;
	--max-text-width: 600px;
	--wrapper-padding: 5vw;
	--canvas-color: #000;
	--main-font: 'Montserrat', sans-serif;

	@include mobile {
		--block-height: 75px;
	}
}